<!DOCTYPE html>
<!--  타임리프를 쓰겠다는 선언-->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- 해더부분 분리-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    제이쿼리 쓰기위한 셋팅-->
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</head>
<!-- 해더부분 분리-->
<body>
<img src="../static/img/header-logo.png" alt="">
<img src="../../../../static/img/search-icon.svg" alt="">
<div> 메인 페이지 입니다.</div>
<button  id="bringdata">gogo</button>
</body>
<script>
    $("#bringdata").click(function() {
        $.ajax({
            type : "POST",
            // controller 에 매핑된 url
            url : "/api/v1/test/findAll",
            dataType : "json",
            error : function(){
                alert('error');
            },
            success : function(data){
                alert("통신데이터 값 : " + JSON.stringify(data));
            }

        });
    });
</script>
</html>